.footer{
    background-color: #245852;
    color: white;
    padding: 104px 0 104px;
}
.footer-nav{
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
}
.footer-logo{
    width:106.09px;
    height:30.72px;
    min-width: 0;
}
.footer-logo +*{
    margin-top: 74px;
}
.footer-nav li+li{
    margin-top: 40px;
}

@media (max-width:1200px ) {
    .footer{
        padding: 23px 0 24px;
    }
    .footer-nav{
        font-size: 20px;
    }
    .footer-logo +*{
        margin-top: 23px;
    }
    .footer-nav li+li{
        margin-top: 15px;
    }
}


@media (max-width:992px ) {
    .footer{
        padding: 23px 0 24px;
    }
    .footer-nav{
        font-size: 20px;
    }
    .footer-logo +*{
        margin-top: 23px;
    }
    .footer-nav li+li{
        margin-top: 15px;
    }
}
@media (max-width:500px ) {
    .footer{
        padding: 23px 0 24px;
    }
    .footer-nav{
        font-size: 20px;
    }
    .footer-logo +*{
        margin-top: 23px;
    }
    .footer-nav li+li{
        margin-top: 15px;
    }
}
